cache.cache
cache.cache/
public/assets/images/
db.sqlite3
venv
automatic/history.json
automatic/history2.json
automatic/checker.json
history.json
history2.json
history3.json
.ipynb_checkpoints
static
.vscode
__pycache__
Untitled.ipynb
test.py
website_cache
data.json
job_data.json
job_data_only.json
data.json
data
backup_*
dump*
dds.sqlite3
recover*
job/migrations
*/migrations