
{% extends 'base.html' %} {% block title %} Privacy Policy {% endblock title %}
{% block style %}

{% endblock style %} {% block body %}
    <div class="privacy-container">

    <header>
        <h1 style="text-align: center;">Our Story</h1>
    </header>

    <main>
        <section>
            <h2>Our Mission</h2>
            <p>At {{website_name}}, we are on a mission to empower individuals seeking careers within the United Nations system and international organizations. We understand the unique challenges and uncertainties that come with pursuing opportunities in this field, and we're here to simplify the process.</p>
            <p>Our platform is designed to provide comprehensive access to job listings from various UN agencies and major international organizations. We aim to be a one-stop destination for job seekers, offering valuable resources and insights to support their professional journey.</p>
        </section>

        <section>
            <h2>Our Vision</h2>
            <p>We envision a world where talented individuals from diverse backgrounds have equal opportunities to contribute to global development efforts. By facilitating access to international career opportunities, we strive to foster a more inclusive and sustainable future for all.</p>
        </section>

        <section>
            <h2>Our Values</h2>
            <p>At {{website_name}}, we are guided by the following core values:</p>
            <ul>
                <li>Inclusivity: We believe in creating an inclusive platform that welcomes individuals from all backgrounds and experiences.</li>
                <li>Integrity: We uphold the highest standards of integrity and professionalism in everything we do.</li>
                <li>Innovation: We are committed to continuous innovation, leveraging technology to enhance the user experience and deliver impactful solutions.</li>
                <li>Empowerment: We empower job seekers with the tools, resources, and knowledge they need to navigate the international job market with confidence.</li>
                <li>Collaboration: We recognize the importance of collaboration and partnerships in achieving our mission, and we actively seek opportunities to collaborate with like-minded organizations and stakeholders.</li>
            </ul>
        </section>

        <section>
            <h2>Our Commitment</h2>
            <p>At {{website_name}}, we are committed to transparency, accountability, and excellence in serving our users. We continuously strive to improve our platform and services to meet the evolving needs of our community.</p>
        </section>

        <section>
            <h2>Join Us</h2>
            <p>Are you passionate about making a difference on a global scale? Join us in our mission to connect talented individuals with meaningful international career opportunities. Explore our job listings, access valuable resources, and join our community today!</p>
        </section>
    </main>

    <footer>
        <p>Thank you for choosing {{website_name}} as your trusted partner in your international career journey.</p>
    </footer>

</div>
    {% endblock body %}