.auth-container {
  display: flex;
  justify-content: center;
  margin: 70px auto;
  padding: 0 30px;
  align-items: center;
}

.auth-form-container {
  border: 2px solid rgb(207, 207, 207);
  padding: 100px 30px;
  width: 310px;
  border-radius: 4px;
}
.auth-info-container {
  margin: 0 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-form-container input {
  display: block;
  width: calc(100% - 1.45rem);
  padding: 0.455rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* padding-left: 30px; */
  /* Adjust based on icon size */
  position: relative;
  margin-bottom: 5px;
}
.auth-form-container a{
  text-decoration: none;
  color: rgb(29, 29, 240);
}
.auth-form-container input[type='submit']{
width: 100%;
}
.auth-form-container h3{
  text-align: center;
}
.auth-info-container p{
  margin: 5px 0;
}
@media screen and (max-width: 1038px) {
  .auth-container {
    flex-direction: column;
    margin-top: 10px;
    padding: 0 0px;
  }

  .auth-form-container {
    padding: 40px 10px;
    width: calc(100% - 30px);
  }
  .auth-info-container {
    margin: 0 10px;
    padding: 10px;
  }
}
